<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBWL assignment</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body style="background-color: #024959;">
    <!-- Navbar Starts -->
    <div
        style="display:flex; justify-content: space-between;align-items: center; padding: 0 20px; height: 60px; background-color:#012E40; color: white;">
        <header>
            <h1><a style="color: white; text-decoration: none;" href="../../index.html">CBWL</a></h1>
        </header>
        <nav>
            <ul style="display:flex; list-style: none;">
                <li><a style="text-decoration: none;padding:0 10px; color: white;"href="../home/home.html">Home</a></li>
                <li><a style="text-decoration: none;padding:0 10px; color: white;"href="../gallery/gallery.html">Gallery</a></li>
                <li><a style="text-decoration: none;padding:0 10px; color: white;"href="../services/services.html">Services</a></li>
                <li><a style="text-decoration: none;padding:0 10px; color: white;"href="../about/about.html">About</a></li>
                <li><a style="text-decoration: none;padding:0 10px; color: white;"href="../contact/contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>

</body>

</html>