<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBWL assignment</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body style="background-color: #024959;">
    <!-- Navbar Starts -->
    <div
        style="display:flex; justify-content: space-between;align-items: center; padding: 0 20px; height: 60px; background-color: #012E40; color: white;">
        <header>
            <h1><a style="color: white; text-decoration: none;" href="../../index.html">CBWL</a></h1>
        </header>
        <nav>
            <ul style="display:flex; list-style: none;">
                <li><a style="text-decoration: none;padding:0 10px; color: white;" href="../home/home.html">Home</a>
                </li>
                <li><a style="text-decoration: none;padding:0 10px; color: white;"
                        href="../gallery/gallery.html">Gallery</a></li>
                <li><a style="text-decoration: none;padding:0 10px; color: white;"
                        href="../services/services.html">Services</a></li>
                <li><a style="text-decoration: none;padding:0 10px; color: white;" href="../about/about.html">About</a>
                </li>
                <li><a style="text-decoration: none;padding:0 10px; color: white;"
                        href="../contact/contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
    <!-- Main Starts -->
    <div>
        <div style="display: flex;justify-content:center;margin-top:100px">
            <img src="../../images/Saylani.jpg" alt="Saylani">
        </div>
        <div style="padding: 0 60px;margin-top:25px;color:white;">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit iusto atque consequatur, et consequuntur
                doloremque pariatur. Eligendi, optio consectetur repellendus cumque nihil laborum, officia illum nobis
                aut possimus cum accusamus.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
                distinctio magni aut nulla ipsum doloremque, asperiores est et porro, explicabo veniam, quaerat
                praesentium non tenetur illum sint nostrum neque aliquam.
            </p>
        </div>
    </div>

</body>

</html>